{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "uyun-monitor front API",
    "description": "提供前端所需API"
  },
  "host": "monitor.uyuntest.cn",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v2",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "applicaiton/json"
  ],
  "tags": [
    {
      "name": "DashBoard",
      "description": "仪表盘相关 API"
    },
    {
      "name": "DashWindow",
      "description": ""
    },
    {
      "name": "reference",
      "description": "采集手册相关 API"
    }
  ],
  "paths": {
    "/dashboards": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "description": "通过Id返回仪表盘详情",
        "operationId": "getDashboardById",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "description": "用户Id"
          },
          {
            "name": "dashboardid",
            "in": "query",
            "type": "string",
            "description": "仪表盘Id"
          }
        ],
        "responses": {
          "200": {
            "description": "返回仪表盘",
            "schema": {
              "$ref": "#/definitions/MineDashboard"
            }
          }
        }
      }
    },
    "/dashboards/query": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "description": "通过名字查询仪表盘列表",
        "operationId": "searchDashboardByName",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "description": "用户Id"
          },
          {
            "name": "tenantId",
            "in": "query",
            "type": "string",
            "description": "租户Id"
          },
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "description": "仪表盘名称"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 10,
            "description": "仪表盘名称"
          }
        ],
        "responses": {
          "200": {
            "description": "返回仪表盘列表",
            "schema": {
              "$ref": "#/definitions/RichDashboardMetadata"
            }
          }
        }
      }
    },
    "/dashboards/create": {
      "post": {
        "tags": [
          "dashboards"
        ],
        "description": "创建仪表盘",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "description": "用户Id"
          },
          {
            "name": "tenantId",
            "in": "query",
            "type": "string",
            "description": "租户Id"
          },
          {
            "name": "dashboard",
            "in": "body",
            "description": "入参",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "创建成功",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        }
      }
    },
    "/dashboards/update": {
      "post": {
        "tags": [
          "dashboards"
        ],
        "description": "更新仪表盘",
        "operationId": "updateDashboard",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "type": "string",
            "description": "租户Id"
          },
          {
            "name": "dashboard",
            "in": "body",
            "description": "入参",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "更新成功",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        }
      }
    },
    "/dashboards/delete": {
      "post": {
        "tags": [
          "dashboards"
        ],
        "description": "删除仪表盘",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "type": "string",
            "description": "用户Id"
          },
          {
            "name": "tenantId",
            "in": "query",
            "type": "string",
            "description": "租户Id"
          },
          {
            "name": "dashboard",
            "in": "body",
            "description": "入参",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "删除成功"
          }
        }
      }
    },
    "/dashboards/isExist": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "description": "仪表盘是否存在",
        "operationId": "isDashboardExist",
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "type": "string",
            "description": "租户Id"
          }
        ],
        "responses": {
          "200": {
            "description": "租户是否有仪表盘",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/reference/resources/query": {
      "get": {
        "tags": [
          "reference"
        ],
        "description": "获取资源参考",
        "operationId": "getResourceRefByName",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string",
            "description": "资源Id"
          }
        ],
        "responses": {
          "200": {
            "description": "返回资源参考",
            "schema": {
              "$ref": "#/definitions/ResourceReference"
            }
          }
        }
      }
    },
    "/reference/metrics/query": {
      "get": {
        "tags": [
          "reference"
        ],
        "description": "获取指标参考",
        "operationId": "getMetricRefByName",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "description": "指标名称"
          }
        ],
        "responses": {
          "200": {
            "description": "返回指标参考",
            "schema": {
              "$ref": "#/definitions/MetricReference"
            }
          }
        }
      }
    },
    "/reference/resources/metrics/query": {
      "get": {
        "tags": [
          "reference"
        ],
        "description": "获取资源的指标详情",
        "operationId": "getResourceMetricsByName",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "description": "采集资源名称"
          }
        ],
        "responses": {
          "200": {
            "description": "返回资源的指标详情",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetricReference"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Dashboard": {
      "type": "object",
      "description": "仪表盘详情",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "dashwindowIdList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        },
        "template": {
          "type": "boolean"
        },
        "modified": {
          "type": "string",
          "format": "date"
        },
        "userId": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "descr": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "MineDashboard": {
      "type": "object",
      "description": "仪表盘详情",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "favourite": {
          "type": "boolean"
        },
        "dashwindows": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "dashId": {
                "type": "string"
              },
              "requests": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "q": {
                      "type": "string"
                    },
                    "aggregator": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "name": {
                "type": "string"
              },
              "viz": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "RichDashboardMetadata": {
      "type": "object",
      "description": "仪表盘详情",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "favourite": {
          "type": "boolean"
        },
        "dashwindows": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "dashId": {
                "type": "string"
              },
              "requests": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "q": {
                      "type": "string"
                    },
                    "aggregator": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              },
              "name": {
                "type": "string"
              },
              "viz": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Dashwindow": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "dashId": {
          "type": "string"
        },
        "requests": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "q": {
                "type": "string"
              },
              "aggregator": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          }
        },
        "name": {
          "type": "string"
        },
        "viz": {
          "type": "string"
        }
      }
    },
    "ResourceReference": {
      "type": "object",
      "description": "资源参考",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "desc": {
          "type": "string"
        },
        "iconUrl": {
          "type": "string"
        },
        "manualUrl": {
          "type": "string"
        }
      }
    },
    "MetricReference": {
      "type": "object",
      "description": "指标参考",
      "properties": {
        "name": {
          "type": "string"
        },
        "descr": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        },
        "valueMin": {
          "type": "number",
          "format": "double"
        },
        "valueMax": {
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "type": "integer"
        },
        "dataType": {
          "type": "string"
        }
      }
    }
  }
}